*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor
{
    width: 100%;
    display: flex;
    /* background-color: cadetblue; */
    flex-wrap: wrap;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(pictures/back-image-02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    fle

}

header{
    width: 100%;
    height: 35px;

}

.logo{
    width: 20px;
    height: 30px;
    position: absolute;
    display: flex;
    margin-top: 12px;
    margin-left: 25px;
    text-overflow: clip;
    transition: transform 0.3s ease;
}

.logo:hover{
    transform: scale(1.3);
}

.servcontainer{
    display: flex;
    width: auto;
    margin-left: auto;
    /* gap: 5px; */

}
.servcontainer a{
    padding: 2px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
    transition: transform 0.3s ease;

}

.servcontainer a:hover{
    transform: scale(1.2);
}

main{
    width: 950px;
    height: 350px;
    display: flex;
    flex: row;
    /* background-color: blueviolet; */
    margin: auto;
}

.bigtext{
    width: 350px;
    height: 300px;
    /* background-color: coral; */
    margin-left: 35px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;

}
.bigtext label{
    /* background-color: coral; */
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    font-kerning: none;
    /* font-weight: 400; */
    /* font-weight: 700; */
    
}
.bigtext span{
    font-weight: 400;
    
    font-size:60px;
}

.boton{
    width: 150px;
    height: 40px;
    background-color: burlywood;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.boton a{
    text-decoration: none;
    color: rgb(53, 38, 11);
    animation: blink 1s linear infinite
}

@keyframes blink{
    50% {
        opacity: 0
    }
    80% {
        opacity: .5;
    }
}


.introcont{
    width: 300px;
    height: 300px;
    /* background-color: burlywood; */
    border-top: 2px solid rgb(216, 147, 147);
    border-bottom: 2px solid rgb(216, 147, 147);
    display: flex;
    flex-wrap:wrap;
    /* gap: 5px; */
    margin-top: 35px;
    margin-left: 240px;
    flex-direction: row;
    
}

.foto1{
    width: 140px;
    height: 138px;
    background-color: antiquewhite;
    border-radius: 5px;
    /* position: absolute; */
    margin: auto;
    overflow: hidden;
}

.foto1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.foto2{
    width: 140px;
    height: 138px;
    background-color: antiquewhite;
    border-radius: 5px;
    /* position: absolute; */
    margin: auto;
    overflow: hidden;
}

.foto2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.foto3{
    width: 140px;
    height: 138px;
    background-color: antiquewhite;
    border-radius: 5px;
    /* position: absolute; */
    margin: auto;
    overflow: hidden;
}

.foto3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.foto4{
    width: 140px;
    height: 138px;
    background-color: antiquewhite;
    border-radius: 5px;
    /* position: absolute; */
    margin: auto;
    overflow: hidden;
}

.foto4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer{
    width: 100%;
    height: 80px;
    background-color: black;
    flex-direction: column;
}

.textos{
    width: 800;
    height: 40px;
    color: white;
    flex-direction: row;
    display: flex;
    font-size: xx-small;
    font-stretch: extra-condensed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 20px;

}

.columna1{
    width: 150px;
    height: 40px;
    display: flex;
    margin-left: 20px;
    /* background-color: aqua; */
    display: inline; 
    margin-top: 20px;
}

.columna2{
    width: 150px;
    height: 40px;
    display: flex;
    margin-left: 10px;
    /* background-color: aqua; */
    display: inline; 
    margin-top: 20px;
}
.columna3{
    width: 150px;
    height: 40px;
    display: flex;
    margin-left: 10px;
    /* background-color: aqua; */
    display: inline; 
    margin-top: 20px;
}

.smtext{
    width: 100px;
    height: 40px;
    flex-direction: column;
    display: flex;
    color: white;
    font-size: xx-small;
    margin-left: 850px;
}

/* LOWEST PRICES */

.productcont{
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin: auto;
    /* justify-content: center; */
    background-color: blanchedalmond;
}

.product1{
    width: 400px;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    justify-content: center;
    flex-direction: row;
}

.productpic{
    width: 480px;
    height: 230px;
    border-radius: 10px;
    background-color: rgb(218, 191, 160);
    margin-top: 12px;
    /* justify-content: center; */
    position: absolute;
    overflow: hidden;
    margin-left: 20px;
    transition: transform 0.3s ease;
}



.cheap{
    width: 400px;
    height: 300px;
    background-color: rgb(63, 37, 2);
    border-radius: 5px;
    position: absolute;
    /* padding: 5px; */
    overflow: hidden;
}

.productpic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    opacity: 80%;
}


.product{
    width: 400px;
    height: 300px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 10px;
    display: flex;
    grid-template-columns: auto;
}



/* FOR RENT */


.contsale{
    width: 1200px;
    height: 330px;
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    position: relative;
    margin-top: -20px;
    /* margin: auto; */
    align-items: center;
    justify-content: center;
    flex: wrap;
}

.cont1{
    width: 200px;
    height: 330px;
    display: flex;
    position: absolute;
    background-color: rgba(255, 228, 196, 0.377);
    border-radius: 10px;
    /* margin-left: 50px; */
    position: absolute;
    justify-content: center;
    position: relative;
    box-shadow: 2px 2px 2px rgb(65, 56, 34);

}

.picsale1{
    width: 180px;
    height: 220px;
    border-radius: 10px;
    background-color: rgb(218, 191, 160);
    margin-top: 12px;
    position: absolute;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.picsale1:hover{
    transform: scale(1.1);
}

.picsale1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add{
    width: 70px;
    height: 20px;
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(99, 86, 52);
    position: absolute;
    margin-top: 300px;
    margin-left: -105px;
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: condensed;
    transition: background-color 0.3s ease;
}

.add:hover{
    background-color: rgb(175, 149, 93);

}

.info1{
    width: 150px;
    height: 20px;
    color: rgb(255, 255, 255);
    margin-top: 250px;
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -25px;
}

.cont2{
    width: 200px;
    height: 330px;
    display: flex;
    position: absolute;
    background-color: rgba(255, 228, 196, 0.377);
    border-radius: 10px;
    margin-left: 50px;
    position: absolute;
    justify-content: center;
    position: relative;
    box-shadow: 2px 2px 2px rgb(65, 56, 34);

}

.picsale2{
    width: 180px;
    height: 220px;
    border-radius: 10px;
    background-color: rgb(218, 191, 160);
    margin-top: 12px;
    position: absolute;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.picsale2:hover{
    transform: scale(1.1);
}

.picsale2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.add{
    width: 70px;
    height: 20px;
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(99, 86, 52);
    position: absolute;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-left: -105px;
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: condensed;
    transition: background-color 0.3s ease;
}

.info2{
    width: 150px;
    height: 20px;
    color: rgb(255, 255, 255);
    margin-top: 245px;
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -25px;
}

.cont3{
    width: 200px;
    height: 330px;
    display: flex;
    position: absolute;
    background-color: rgba(255, 228, 196, 0.377);
    border-radius: 10px;
    margin-left: 50px;
    justify-content: center;
    position: relative;
    box-shadow: 2px 2px 2px rgb(65, 56, 34);

}

.picsale3{
    width: 180px;
    height: 220px;
    border-radius: 10px;
    background-color: rgb(218, 191, 160);
    margin-top: 12px;
    position: absolute;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.picsale3:hover{
    transform: scale(1.1);
}

.picsale3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add{
    width: 70px;
    height: 20px;
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(99, 86, 52);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-left: -105px;
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-stretch: condensed;
}

.info3{
    width: 150px;
    height: 20px;
    color: rgb(255, 255, 255);
    margin-top: 245px;
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -25px;
}

.paragraph{
    width: 700px;
    height: 50px;
    /* background-color: blueviolet; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 325px;
    margin-left: 124px;
    font-size:small;
    position: absolute;
    text-align: center;
    font-family:Tahoma;
    
}

.paragraph h2{
    animation: move-up-down 3s infinite;
}

@keyframes move-up-down {
    from{
        transform: translateY(20px);
    }
}

/* CONSULTING */

.principal{
    width: 570px;
    height: 400px;
    background-color: #ffefcd5f;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    border: 1px solid white;
    box-shadow: 1px 2px 1px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */

}

.left{
    width: 200px;
    height: 400px;
    background-color: #cececed7;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;

}

.president{
    width: 200px;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    background-color: azure;
    overflow: hidden;

}

.president img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.nombre{
    width: 200px;
    height: 40px;
    display: flex;
    margin-top: -25px;
    align-items: center;
    justify-content: center;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nivel{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    font-family: 'Arial Narrow';
}

.descripcion{
    width: 150px;
    height: 50px;
    margin-top: 40px;
    font-size: small;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.contact{
    width: 150px;
    height: 25px;
    border-radius: 8px;
    display: flex;
    background-color: rgb(73, 62, 38);
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.contact:hover{
    transform: scale(1.05);
}

.texto{
    width: 150px;
    height: 25px;
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: xx-small;
    color: white;
    text-align: center;
}

.right{
    width: 370px;
    height: 400px;
    background-color: #fafafa34;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: right;

}

.encabezado{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    margin-left: 20px;
    margin-top: 20px;
}

.agentcont{
    width: 325px;
    height: 80px;
    background-color:  #fafafa72;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 1px;
    transition: transform 0.3s ease;
}

.agentcont:hover{
    transform: scale(1.05);
}

.agente1{
    width: 150px;
    height: 80px;
    display: flex;
    background-color: rgb(133, 72, 8);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}

.agente1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.title1{
    width: 200px;
    height: 30px;
    font-family: 'Franklin Gothic Medium';
    font-size: large;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
}

.title2{
    width: 200px;
    height: 30px;
    font-family: 'Franklin Gothic Medium';
    font-size: large;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
}

.title3{
    width: 150px;
    height: 10px;
    font-family: 'Franklin Gothic Medium';
    font-size: large;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
}

.smalltext{
    font-family:'Arial Narrow';
    color: rgb(85, 70, 19);
    font-size: x-small;
}


/* CONTACT */

.container-form{
    width: 100%;
    /* max-width: 110px; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    margin-top: 50px;
}

.container-form h2{
    margin-bottom: 15px;
    font-size: 35px;
    color: white;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.container-form p{
    font-size: 17px;
    line-height: 1;
    margin-bottom: 30px;
    margin-left: 15px;
    color: white;
}

.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    font-family: arial;
    font-size: 20px;
    margin-bottom: 15px;
    color: white;
    font-weight: 800;
}

.container-form a i{
    color: white;
    margin-right: 10px;
}

.container-form form .campo, textarea{
    width: 300px;
    height: 50px;
    padding: 5px;
    display: flex;
    font-size: 15px;
    border: 1px solid white;
    margin-bottom: 5px;
    border-radius: 5px;
    /* outline: 0px; */
}

.container-form form textarea{
    max-width: 300px;
    min-width: 300px;
    min-height: 150px;
    max-height: 150px;
}

.container-form .btn-send{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    display: flex;
    background-color: brown;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
}

.container-form .btn-send:hover{
    background-color: rgb(48, 29, 5);
}
